.cards {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.cards__list {
  margin: 70px 70px 30px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 32px 20px;
  border: 0;
}

.cards__button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 80px;
}

.cards__button {
  box-sizing: border-box;
  width: 320px;
  height: 36px;
  background-color: transparent;
  border: none;
  background: #2f2f2f;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cards__button:hover {
  border: 1px solid #2be080;
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .cards__list {
    margin: 70px 30px 30px;
    gap: 36px 30px;
  }

  .cards__button-container {
    margin-top: 117px;
    margin-bottom: 81px;
  }
}

@media screen and (max-width: 767px) {
  .card {
    height: 237px;
  }
  .cards__list {
    margin: 40px 10px 10px;
    gap: 20px;
  }

  .cards__button {
    width: 240px;
  }

  .cards__button-container {
    margin: 70px 0 80px;
  }
}
